@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: url(./../img/slate.jpg);
    min-height: 100vh;
    text-align: center;
    padding-top: 20px;
}

a.nav-link {
    color: #fbc477;
    font-family: 'Bilbo', cursive;
}

h1,
h2,
h3 {
    color: #fbc477;
    font-family: 'Bilbo', cursive;
    font-weight: 400;
    ;
}

.flour {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
}