@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: url(./../img/slate.jpg);
    min-height: 100vh;
    padding-top: 20px;
    line-height: 1.4;
}

body::-webkit-scrollbar {
    display: none;
  }


img{
    max-width: 100%;
}

a.nav-link {
    color: #fbc477;
    font-family: 'Bilbo', cursive;
    font-size: 2em;
}

.btn-secondary{
    background:none;
    color:#fbc477;
    border-radius:0;
    font-weight: 700;
    border: 3px solid #fbc477
}

h1,
h2,
h3 {
    color: #fbc477;
    font-family: 'Bilbo', cursive;
    font-weight: 700;
    margin:0;
}

h2{
    font-size:4.5em;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

h2 + p {
    font-size:2.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom:40px;
}

.flour {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
}

.fade-enter, .fade-leave-to{
    opacity:0;
    transform:translateX(-100px)
}

.fade-enter-active, .fade-leave-active{
    transition:.8s all;
}
